body {
    background-image: url("/assets/bg3.webp");
    background-repeat: repeat;
}

p {
    font-family:'Playfair Display', serif, serif;
    color: black;
}

a {
    font-family:'Playfair Display', serif, serif;
    color: #ff82ac;
}

a:hover {
    font-family:'Playfair Display', serif, serif;
    color: #d80048;
}

.latestpost {
    text-align: center;
}

.blogtxt {
    line-height: 1.8;
}