body {
    background-image: url("bg1.webp");
    background-repeat: repeat;
}

h2, h3 {
    font-family:'Playfair Display', serif, serif;
    color: black;
    text-align: center;
}

p {
    font-family:'Playfair Display', serif, serif;
    color: black;
    line-height: 2;
}