body {
    background-image: url("bg2.webp");
    background-repeat: repeat;
}
.content h1, h3, p {
    font-family:'Playfair Display', serif, serif;
    color: black;
    text-align: center;
}
.content a {
    font-family:'Playfair Display', serif, serif;
    color:  #ff82ac;
    text-align: center;
}

a:hover {
    font-family:'Playfair Display', serif, serif;
    color:  #d80048;;
    text-align: center;
}